name: Javadoc CI

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        cache: maven
    - name: generate javadoc and push to gh-pages
      run: |
        git config --global user.email "helper@nothing.com"
        git config --global user.name "VxDxK_help_bot"
        git fetch
        git push origin -d docs-branch 2> /dev/null
        git checkout -b docs-branch
        mvn -B install --file pom.xml
        mv target/docs/ .
        git add .
        if [[ `git status --porcelain` ]]; then
            git commit -m "Regenerate Javadoc"
            git push
        fi
        
